*{
    padding:0;
    margin:0;

    box-sizing:border-box;
}

body{
    background-color:#2e2e2e;
    font-family:"Roboto Mono",monospace;
}

#main{
    display:flex;
    flex-direction:row;
    gap:10px;
}

#lhs{
    display:flex;
    flex-direction:column;

    gap:30px;

    min-width:1000px;

    padding:20px 30px; 
    height:fit-content;
}
#heading-tag-container{
}
#heading-tag-container span{
    color:#7851a9;
    font-size:60px;
    font-style:normal;
    font-optical-sizing:auto;
}
#content-container{
    background-color:white;
    padding:20px 30px;
    border-radius:10px;

    min-height:570px;
}

#rhs{
    background-color:white;
    min-height:100vh;
    flex:1;
    min-width:fit-content;
}
#notification-container{
    padding:20px;
}
