*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background-color:#323232;
}

#container{
  display:flex;
  flex-direction:row;
  gap:20px;
  align-items:center;

  margin:40px 40px;
  height:100vh;
}

#content-card{
  background-color:whitesmoke;

  min-width:500px;
  min-height:500px;

  border-radius:14px;

  flex-grow:1;
}

#notification-card{
  background-color:whitesmoke;

  min-width:300px;
  min-height:500px;

  border-radius:14px;
}
